.main-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  align-content: center;
  justify-content: center;
  box-shadow: 1px 1px 10px 0px;
  border-radius: 20px;

}

